#page_aboutme {
	padding: 30px 10vw 30px 10vw;
}

#page_aboutme article {
	text-align: center;
}

#page_aboutme article li {
	text-align: left;
}

#page_aboutme article div p {
	font-size: 20px;
	text-align: justify;
	font-family: Nunito !important;
}

.container_aboutme p, .container_education p{
	padding: 0 8%;
}

.container_experience {
	padding: 10px 30px;
	margin-bottom: 20px;
	border-radius: 5px;
	background-color: #f8f8f8;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);

}

.container_experience li{
	font-size: 18px;
	font-family: Nunito !important;
	text-align: left;
}

.container_education p {
	text-align: center;
}

.container_education br{
	display: none;
}

.container_certificates {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 100;
}

.container_certificates.opened {
	display: block;
}

#page_aboutme .fa-map-marker-alt {
	margin-right: 5px;
}

#page_aboutme p a{
	color: rgba(0, 100, 0, 1);
	text-decoration: underline;
	cursor: pointer;
}
