#pageSobreMi{
	background-color: rgba(200, 200, 200, 0.4);/*  pastel*/
	padding-bottom: 37px;
}
#pageSobreMi article{
	text-align: center;
}
#pageSobreMi article div div p{
	font-size: 14pt;
	text-align: center;
}
.container-SobreMi{
	margin-left: 10vw;
	margin-right: 10vw;
}
#container-educacion p{
	text-align: center !important;
}
.imgTecnologias{
	margin: 3px;
}
#container-conoceme{
	margin-bottom: 25px;
}
#irProyecto-Abaco{
	cursor: pointer;
}
#pageSobreMi p a{color: rgba(0, 100, 0, 1);}