/*--------- Página flexible ---------*/
body{
	display: flex;
	margin: 37px 0;
	padding: 0;
	margin: 0;
	flex-direction: column;
	min-width: 320px;
}

.full_height{
	min-height: 100vh;
	padding: 15px;
	flex: 1;
}

.text_header{
	letter-spacing: 1px;
	font-family: 'Exo 2', sans-serif !important;
}

h1.text_header{
	font-size: 28pt;
}
h2.text_header{
	font-size: 22pt;
}

#home_arrow{
	width: 50px;
	height: 50px;
	position: fixed;
	right: 10px;
	bottom: 10px;
	display: inline-block;
	border-radius: 50%;
	cursor: pointer;
	visibility: hidden;
}

#home_arrow:hover{
	transform: scale(1.1,1.1);
}
