/*--------- Página flexible ---------*/
body{
	display: flex;
	margin: 37px 0;
	padding: 0;
	margin: 0;
	flex-direction: column;
}
section{
	min-height: 100vh;
	padding-top: 37px;
	flex: 1;
}
.textHeader{
	letter-spacing: 1px;
	font-family: 'Exo 2', sans-serif !important;
}
#flechaSubir{
	width: 50px;
	height: 50px;
	position: fixed;
	right: 10px;
	bottom: 10px;
	display: inline-block;
	border-radius: 50%;
	cursor: pointer;
	visibility: hidden;
}
#flechaSubir:hover{
	transform: scale(1.1,1.1);
}
