/*--------- Página flexible ---------*/
body{
	display: flex;
	min-height: 100vh;
	min-width: 100vw;
	margin: 37px auto;
	flex-direction: column;
    background-color: rgba(228, 160, 016, 0.4) !important;/* Fondo Amarillo Pastel */
}

section{
	padding-top: 37px;
	flex: 1;
	height: 100vh;
}

