/*--------- Página flexible ---------*/
body{
	display: flex;
	margin: 37px 0;
	padding: 0;
	margin: 0;
	flex-direction: column;
    background-color: rgba(228, 160, 016, 0.4) !important;/* Fondo Amarillo Pastel */
}
section{
	min-height: 100vh;
	padding-top: 37px;
	flex: 1;
}

