footer{
	overflow: hidden;
	background-color: rgba(127, 127, 127, 0.5) !important;/* Fondo Gris Oscuro */
	padding: 15px 0 15px;/*top y bot*/
	text-align: center;
}
#container-number-email{
	width: 40%;
	height: 100px;
	text-align: center;
	margin: auto;
	display: inline-block;
}
#container-number{
	
}
#numeroTLF{
	vertical-align: middle;
}
#container-email{
	margin-top: 10px;
}
#container-socialMedia{
	width: 40%;
	height: 100px;
	margin: auto;
	display: inline-block;
}
#container-socialMedia h2{
	margin-top: 0px;
	font-size: 22pt;
}
#container-legalidad{
	width: 30%;
	margin: auto;
	margin-top: 15px;
}
#container-legalidad span{
	display: inline;
	border: 1px dotted rgba(1,1,1,0.8);
	border-right: none;
	border-left: none;
	border-bottom: none;
}
#container-socialMedia-images{
	margin-top: 20px
}
.container-footer div p{
	font-size: 16pt;
	display: inline;
}
#emailToCopy{
	color: black;
}
.imgFooter:hover, .imgScrollTo-Footer:hover{
	transform: scale(1.1,1.1);
}
