#home{
	text-align: center;
    background-image: url(../img/wallpaper/fondo-azul.jpg);
    background-size: cover;
}

#home #portrait_photo{
	display: inline-block;
	width: 252px;
	height: 252px;
	padding: 0;
	margin-top: 40px;
	border: 2px solid darkgrey;
	border-radius: 50%;
	opacity: 0;
	transition: all 1.5s ease-in-out;
	transform: scale(0);
}

#home #portrait_photo.loaded{
	opacity: 1;
	transform: scale(1);
}

#home .text_header{
	color: white;
	margin: 30px 0 2% 0;
	transform: translateY(80px);
	opacity: 0;
	transition: all 1s ease-in-out;	
	text-shadow: 1.5px 1.5px 0px black, -1.5px -1.5px 0px black, 
				 1.5px 0px 0px black, -1.5px 0px 0px black,
				 0px 1.5px 0px black, 0px -1.5px 0px black,
				 1.5px -1.5px 0px black, -1.5px 1.5px 0px black;
}

#home .text_header.loaded{
	transform: translateY(0px);
	opacity: 1;
}

#home h1.text_header br{
	display: none;
}

#home article{
	position: relative;
}

.container_angle_double_down{
	position: absolute;
	left: 50%;
	right: 50%;
	bottom: 25px;
}

.container_angle_double_down .fa-angle-double-down{
	color: white;
	position: relative;
	animation-name: scroll_arrow_double;
	animation-duration: 4.4s;
	animation-delay: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes scroll_arrow_double{
	0%, 50% {
		transform: translateY(0); }
	55% {
		transform: translateY(5px); }
	60% {
		transform: translateY(0); }
	65% {
		transform: translateY(5px); }
	70% {
		transform: translateY(0); }
	75% {
		transform: translateY(5px); }
	80% {
		transform: translateY(0); }
	85% {
		transform: translateY(5px); }
	90% {
		transform: translateY(0); }
	95% {
		transform: translateY(5px); }
	100% {
		transform: translateY(0); } 
}