#main{
	text-align: center;
    background-color: rgba(228, 160, 016, 0.4) !important;/* Fondo Amarillo Pastel */
	/*background-image:url(../img/wallpaper/madera.jpg);
	background-size: 100%;
	background-repeat:no-repeat;*/
}
#portraitPhoto{
	width: 252px;
	height: 252px;
	display: inline;
	border: 2px solid darkgrey;
	border-radius: 50%;
	margin: 2% 0 1% 0;
	padding: 0;
}
.texto{
	color: white;
	letter-spacing: 1px;
	font-family: 'Exo 2', sans-serif;
}
#nombre{
	margin: 1% 0 1% 0;
	text-shadow: 1.75px 1.75px 0px black, -1.75px -1.75px 0px black, 1.75px 0px 0px black, -1.75px 0px 0px black,
				 0px 1.75px 0px black, 0px -1.75px 0px black, 1.75px -1.75px 0px black, -1.75px 1.75px 0px black;
}
#titulo{
	margin: 1% 0 2% 0;
	text-shadow: 1.5px 1.5px 0px black, -1.5px -1.5px 0px black, 1.5px 0px 0px black, -1.5px 0px 0px black,
				 0px 1.5px 0px black, 0px -1.5px 0px black, 1.5px -1.5px 0px black, -1.5px 1.5px 0px black;
}
#cajaIconos{
	width: 100%;
}
#cajaIconos div{
	display: inline-block;
	width: 20%;
	margin: 0;
	padding: 0;
}
#cajaIconos p{
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	text-shadow: 1px 1px 0px black, -1px -1px 0px black, 1px 0px 0px black, -1px 0px 0px black,
				 0px 1px 0px black, 0px -1px 0px black, 1px -1px 0px black, -1px 1px 0px black;
}
#cajaIconos div:hover img{
	transform: scale(1.1,1.1);
}
.imgIconos{
	display: inline-block;
	border-radius: 50%;
	padding: 10px 10px;
	background-color: black;
	cursor: pointer;
}
#aboutMe img{
	padding: 0 !important;
	cursor: pointer;
}

/*#cajaIconos div:hover + html{
	overflow: hidden;
}*/