body{
	text-align: center;
	margin: auto;
}

#moneda{
	width: 250px;
	height: 250px;
}

#mano{
	width: 450px;
	height: 450px;
	position: absolute;
	left: 40%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#boton{
	font-size: 16pt;
	position: absolute;
	top: 5%;
	right: 10%;
}

fieldset{
	text-align: center;
	position: absolute;
	top: 20%;
	right: 10%;
	font-family: Arial;
	visibility: hidden;
}

#out{
	font-family: Arial;
}

#movimiento{
	position: absolute;
	display: inline-block;
	transform: translate(-50%, -50%);
	animation-name: animacion;
	animation-duration: 2.1s;
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
 	animation-play-state: paused;
	
}

@keyframes animacion { 
	0% { left: 50%; top: 50%; } 
	50% { left: 50%; top: 20%; } 
	100% { left: 50%; top: 50%; }
}

@keyframes animacionMV { 
	0% { left: 50%; top: 40%; } 
	50% { left: 50%; top: 20%; } 
	100% { left: 50%; top: 40%; }
}

@media (min-width: 2000px){
	body, #boton{
		font-size: 40px;
	}
}

@media (max-width: 1440px){
	body, #boton{
		font-size: 30px;
	}
}

@media (max-width: 768px){

	#moneda{
		width: 100px;
		height: 100px;
	}

	#mano{
		width: 200px;
		height: 200px;
		left: 40%;
		top: 40%;
	}

	#movimiento{
		animation-name: animacionMV;
	}

	#boton{
		top: initial;
		bottom: 5%;
		left: 5%;
	}

	fieldset{
		top: initial;
		right: 5%;
		bottom: 5%;
	}
	
}

@media (max-width: 425px){

	#moneda{
		width: 100px;
		height: 100px;
	}

	#mano{
		width: 200px;
		height: 200px;
		left: 40%;
		top: 40%;
	}

	#movimiento{
		animation-name: animacionMV;
	}

	#boton{
		top: initial;
		bottom: 5%;
		left: 5%;
	}

	fieldset{
		top: initial;
		right: 5%;
		bottom: 5%;
	}
}