ul{
	margin-top: 0;
	margin-bottom: 0;
	list-style-type: none;
	display: flex;
	padding-left: 0;
}
ul li{
 	list-style-type: none;
	flex:auto;
	box-sizing: border-box;
	text-align: center;
	background: #000;
	border-right: 4px solid darkgrey;
}
ul li:last-child{
	border: none;
}
ul li p{
	text-decoration: none;
	line-height: 2;
	font-size: 14pt;
	color: #eee;
	display: inline-block;
}
.input-group-addon.bg-black{ background: #000 !important;}/* Fondo Negro */
.material-icons.c-white { color: #eee !important; }/* Color Blanco */

/*ul li:hover{
	background: #eee;
}*/
/*ul li:hover p:{
	color: #000;
	text-decoration: none;
}*/
.