ul{
	margin-top: 0;
	margin-bottom: 0;
	list-style-type: none;
	display: flex;
	padding-left: 0;
	user-select: none;
}
ul li{
 	list-style-type: none;
	flex:auto;
	box-sizing: border-box;
	text-align: center;
	background: #000;
	border-right: 2px solid darkgrey;
	cursor: pointer;
}
ul li:last-child{
	border: none;
}
ul li p{
	text-decoration: none;
	line-height: 2;
	font-size: 14pt;
	color: #eee;
	display: inline-block;
}
/* Fondo Móvil Negro */
.navbar-addon.bg-black{ background: #000 !important;}
/* Icons fa */
ul li .fa{
	color: white;
}
