body{
	text-align: center;
	margin: auto;
	padding: 25px;
	background-image: url(../../img/wallpaper/fondoPapel.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	font-size: 25px;
}

h2{
	display: inline;
	margin: auto auto 4% auto;
	font-size: 35px;
	font-family: GirlsHaveManySecrets;
}

#container_VS{
	display: inline-block;
}

#registro{ 
	height: 2%;
    width: 100%;
	margin: 2% auto;
	position: relative;
}

#registro p{
	margin: auto 5% auto 5%;
	display: inline;
	font-family: cinnamoncake;
	font-weight: bold;
}

#Resultado{
	font-family: GirlsHaveManySecrets;
	font-weight: bold;
	font-size: 35px;
}

fieldset{
	font-family: cinnamoncake;
	font-weight: bold;
	display: inline-block;
	border-color: black;
	height: 140px;
}

#fieldset_CPU{
	width: 200px;
	height: 200px;
}

#CPU{
	width: 180px;
	height: 180px;
}

#VS{
	display: inline-block;
	position: relative;
	font-family: PressStart2P;
	margin: auto 1% auto 1%;
	font-size: 30px;
	transform: translateY(-240%);
}

#fieldset_user{
	width: 200px;
	height: 200px;
}

#User{
	width: 180px;
	height: 180px;
}

#Opciones{
	display: inline-block;
	width: 300px;
	margin-top: 15px;
	padding-bottom: 0;
}

.Opcion{
	display: inline-block;
}

input[type='radio']:after {
	width: 10px;
	height: 10px;
	margin-right: 10px;
	border-radius: 10px;
	top: -2px;
	left: -1px;
	position: relative;
	background-color: transparent;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid black;
}

input[type='radio']:checked:after {
	width: 10px;
	height: 10px;
	border-radius: 10px;
	top: -2px;
	left: -1px;
	position: relative;
	background-color: #337ab7;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid black;
}

#botonJ{
	width: 70px;
	height: 25px;
	margin-top: 15px;
	background-color: #337ab7;
	color: white;	
}

/*------------------------------------ RESPONSIVE ------------------------------------*/

@media (min-width: 2000px){
	
	h2{
		font-size: 65px;
	}
	
	#registro p{
		font-size: 55px;
	}
	
	#Resultado{
		font-size: 55px;
	}

	#fieldset_CPU{
		width: 400px;
		height: 400px;
	}
	
	#CPU{
		width: 390px;
		height: 390px;
	}
	
	#VS{
		display: inline-block;
		position: relative;
		font-family: PressStart2P;
		margin: auto 1% auto 1%;
		font-size: 60px;
		transform: translateY(-300%);
	}
	
	#fieldset_user{
		width: 400px;
		height: 400px;
	}
	
	#User{
		width: 390px;
		height: 390px;
	}

	#Opciones{
		width: 700px;
		font-size: 40px;
	}

	input{
		margin-right: 20px;
	}

	input[type='radio']:after {
		width: 30px;
		height: 30px;
		border-radius: 30px;
		top: -20px;
		left: -10px;
	}
	
	input[type='radio']:checked:after {
		width: 30px;
		height: 30px;
		border-radius: 30px;
		top: -20px;
		left: -10px;
	}
	#botonJ{
		font-size: 35px;
		width: 140px;
		height: 75px;		
	}
	


}

@media (max-width: 425px){

	body{
		font-size: 20px
	}

	h2{
		font-size: 25px;
	}

	#registro p{
		display: block;
		margin-bottom: 10px;
	}
	
	#Resultado{
		margin: 10px;
	}
	
	#fieldset_CPU{
		width: 100px;
		height: 100px;
	}
	
	#CPU{
		width: 90px;
		height: 90px;
	}
	
	#VS{
		display: inline-block;
		position: relative;
		font-family: PressStart2P;
		margin: auto 1% auto 1%;
		font-size: 30px;
		transform: translateY(-100%);
	}
	
	#fieldset_user{
		width: 100px;
		height: 100px;
	}
	
	#User{
		width: 90px;
		height: 90px;
	}

	


}




/*------------------------------------ FUENTES ------------------------------------*/
@font-face{
	font-family: PressStart2P; src: url('../../fonts/PressStart2P.ttf')
}
@font-face{
	font-family: GirlsHaveManySecrets; src: url('../../fonts/Girls Have Many Secrets.ttf')
}
@font-face{
	font-family: cinnamoncake; src: url('../../fonts/cinnamoncake.ttf')
}


