#page_projects{
	background-color: rgba(76, 40, 130, 0.4);/* Violeta pastel*/
}
#page_projects article{
	text-align: center;
}
.container_project{
	background-color: rgba(76, 40, 130, 0.3);/* Violeta pastel*/
	margin-bottom: 2vh;
	padding: 1vh;
}
.container_project p{
	text-align: justify;
}
.container_project .type_button{
	color: white;
	padding: 1px 6px 1px 6px;
	border: 2px solid black;
}
.container_project .btn_disabled{
	background-color: grey;
	color: white;
}
.img_technology{
	width: 80px;
	height: 80px
}

#link_slick{
	text-decoration: none;
	color: #337ab7;
	/*color: rgba(0, 100, 0, 1);*/
}

#page_projects span, #page_projects a{
	display: inline-block;
}

#page_projects p, #page_projects h1, #page_projects h2,
#page_projects h3, #page_projects a, #page_projects img, #page_projects span{
	opacity: 0;
	transition: all 1.5s ease-in-out;
	transform: scale(0);
	/*transform: translateY(80px);*/
}

#page_projects p.loaded, #page_projects h1.loaded,#page_projects h2.loaded,
#page_projects h3.loaded, #page_projects a.loaded, #page_projects img.loaded,
#page_projects span.loaded{
	/*transform: translateY(0px);*/
	transform: scale(1);
	opacity: 1;
}