:root {
	--color-proyectos: rgba(76, 40, 130, 0.4);/* Violeta pastel*/
  }

#page_proyectos{
	background-color: var(--color-proyectos);
	padding: 30px 10vw 30px 10vw;

}
#page_proyectos article{
	text-align: center;
}

#select_ordenar_proyectos{
	font-size: 20px;
}

.img_header{
	width: 15%;
	display: block;
	margin: auto;
}

.container_proyecto{
	background-color: var(--color-proyectos);
	margin-bottom: 2vh;
	padding: 15px;
	border-radius: 5px;
}
.container_proyecto .container_ver_mas, .container_proyecto .container_ver_mas_listas, .container_proyecto_accion_logos{
	display: inline-block;
	width: 40%;
	vertical-align: top;
	margin: 20px 0 20px 0;
}
.container_proyecto p{
	text-align: left;
	font-size: 20px;
}

.container_proyecto span{
	font-size: 18px;
}

.container_proyecto .type_button{
	color: white;
	padding: 1px 6px 1px 6px;
	border: 2px solid black;
	cursor: pointer;
}
.container_proyecto .btn_disabled{
	background-color: grey;
	color: white;
}
.img_technology{
	width: 80px;
	height: 80px
}

#link_slick, #page_proyectos .see_more{
	color: #FDFFB2;
}

#page_proyectos span, #page_proyectos a{
	display: inline-block;
}


