#pageProyectos{
	background-color: rgba(76, 40, 130, 0.4);/* Violeta pastel*/
}
#pageProyectos article{
	text-align: center;
}
.container-proyecto{
	background-color: rgba(76, 40, 130, 0.3);/* Violeta pastel*/
	margin-bottom: 2vh;
	padding: 1vh;
}
.container-proyecto .btn-primary a{ color: #fff }
.imgTecnologias{
	width: 80px;
	height: 80px
}
#irContainer-Exp-FCT{
	cursor: pointer;
}