#pageProyectos{
	background-color: rgba(76, 40, 130, 0.4);/* Violeta pastel*/
}
#pageProyectos article{
	text-align: center;
}
.container-proyecto{
	background-color: rgba(76, 40, 130, 0.3);/* Violeta pastel*/
	margin-bottom: 2vh;
	padding: 1vh;
}
.container-proyecto .type-button{
	color: #fff;
	padding: 1px 6px 1px 6px;
	border: 2px solid black;
}
.imgTecnologias{
	width: 80px;
	height: 80px
}
#irContainer-Exp-FCT{
	cursor: pointer;
	color: rgba(220, 220, 220, 1);
}