@media screen and (max-width: 1500px) { /* Escritorio */
	.navbar-fixed-top{
		display: none;
	}
	/*-------------------- Main --------------------*/
	.imgIconos{
		width: 115px;
		height: 115px;
	}
	#cajaIconos{
		display: block;
	}
	#cajaIconos p{
		font-size: 14pt;
		margin-top: 2px;
	}
	h1.textHeader br{
		display: none;
	}
	h1.textHeader{
		font-size: 28pt;
	}
	h2.textHeader{
		font-size: 22pt;
	}
	/*-------------------- Footer --------------------*/
	#toastCopied{
		font-size: 12pt;
	}
	.container-footer div p{
		font-size: 16pt;
	}
	.imgFooter{
		width: 60px;
	}
	.imgFooter[alt="Telegram"]{
		width: 48px;
		margin-right: 1.2vw;
	}
	.imgFooter[alt="Gmail"]{
		height: 58px;
		margin-right: 1.2vw;
	}
	#flechaSubir{
		width: 50px;
		height: 50px;
	}
}
@media screen and (max-width: 1000px) { /* Tablets */
	.navbar-fixed-top{
		display: block;
	}
	.input-group p{
		display: block;
	}
	/*-------------------- Main --------------------*/
	.imgIconos{
		width: 85px;
		height: 85px;
	}
	#cajaIconos{
		display: none;
	}
	#cajaIconos p{
		font-size: 11pt;
	}
	h1.textHeader br{
		display: none;
	}
	h1.textHeader{
		font-size: 25pt;
	}
	h2.textHeader{
		font-size: 19pt;
	}
	/*-------------------- Footer --------------------*/
	#toastCopied{
		font-size: 9.5pt;
	}
	.container-footer div p{
		font-size: 14pt;
	}
	.container-footer div{
		margin-left: 10px !important;
	}
	.imgFooter{
		width: 45px;
	}
	.imgFooter[alt="Telegram"]{
		width: 36px;
	}
	.imgFooter[alt="Gmail"]{
		height: 43px;
	}
	#flechaSubir{
		width: 36px;
		height: 36px;
		clear: right;
		text-align: center;
		position: absolute;
	}
}

@media screen and (max-width: 700px) { /* Móviles */
	.navbar-fixed-top{
		display: block;
	}
	.input-group p{
		display: none;
	}
	/*-------------------- Main --------------------*/
	.imgIconos{
		width: 55px;
		height: 55px;
	}
	#cajaIconos{
		display: none;
	}
	#cajaIconos p{
		font-size: 8pt;
	}
	h1.textHeader br{
		display: block;
	}
	h1.textHeader{
		font-size: 22pt;
	}
	h2.textHeader{
		font-size: 16pt;
	}
	/*-------------------- Footer --------------------*/
	.container-footer div{
		padding: 0
	}
	.container-footer div p{
		font-size: 15pt;
	}
	#flechaSubir{
		clear: right;
		text-align: center;
		position: absolute;
	}
}
@media screen and (max-width: 500px) {
	.imgFooter{
		width: 35px;
	}
	.imgFooter[alt="Telegram"]{
		width: 26px;
	}
	.imgFooter[alt="Gmail"]{
		height: 33px;
	}
	.container-footer div p:last-of-type{
		font-size: 10pt;
	}
}
